.masthead__menu {
  height: 4rem;
  line-height: 4rem;
  padding: 10px 0;
  position: relative;
}
.site-title {
  float: left;
  font-weight: bold;
  width: 15rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--accent);
}
.site-title:visited {
  color: var(--accent);
}
#site-nav {
  float: right;
  font-size: 1.5rem;
  font-family: Courier New;
  font-weight: bold;
  position: absolute;
  right: 0;
}
#site-nav .horiz ul {
  list-style-type: none;
  line-height: 4rem;
  height: 4rem;
  margin: 0;
}
#site-nav .horiz ul > li {
  padding: 0 0.5rem;
  box-shadow: 0.25rem -0.025rem 0.05rem var(--alt);
}
#site-nav .horiz ul > li {
  float: left;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 50% 25% 25% 50%;
}
#site-nav ul > li > a, #site-nav ul > li > button {
  color: var(--alt);
  display: inline-block;
}
#site-nav .menu-icons {
  position: relative;
  padding: 0 0.2rem;
}
#site-nav {
  display: block;
  width: auto;
  height: auto;
}
.masthead__inner-wrap {
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
  height: inherit;
}
.author__avatar > img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  object-fit: cover;
  border-width: 0.1rem;
  border-color: var(--accent3);
  border-style: solid;
  box-shadow: 0.1rem 0.06rem var(--accent3),
    -0.05rem -0.025rem 0.2rem var(--accent3);
}
#site-nav a:link {
  text-decoration: none;
}
#site-nav .vert,
#site-nav .ham {
  display: none;
}

.author__avatar {
  object-fit: contain;
  float: left;
}
.author__name {
  display: none;
}
.author__place {
  font-size: 0.65em;
}
.author_wrap {
}
.author__wrap > ul {
  float: left;
  height: inherit;
  margin: 0;
  padding: 0 10px;
}
.author__wrap > ul > li {
  position: relative;
  float: left;
  list-style-type: none;
  font-size: 1rem;
  padding: 0 0.2rem;
  text-align: center;
}
.page__footer ul > li {
  list-style-type: none;
}
ul > li.author__urls {
  font-size: 2rem;
}

ul > li.author__urls a:visited {
  color: var(--accent);
}

ul > li.author__urls a:hover {
  filter: drop-shadow(0.1rem 0.1rem 0 var(--accent2)) brightness(1.5);
  filter: brightness(1.5);
  transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter,
    filter;
  transition-duration: 0.2s;
}

ul > li.author__place a {
  color: var(--accent3);
  text-decoration: none;
  text-shadow: 0 0 0.01rem var(--alt2);
}

.author__wrap .author__avatar {
  float: left;
}

.langs-dropdown-wrapper {
  cursor: pointer;
}

.langs-dropdown-content {
  display: none;
  text-align: left;
}

.langs-dropdown-content.show {
  display: block;
}

.langs-dropdown-content a {
  display: block;
}

.menu-lang-btn::before {
    border-radius: 25% 25% 25% 50%!important;
}


@media (max-width: 680px) {
  .lang-link {
    height: 3rem;
}
}

.lang-link .flag-icon, .lang-link .flag {
  position: absolute;
  /* for svg */
  /* left: 0.75rem; */
  /* margin-top: 0.5rem; */
  left: 1rem;
  margin-top: 0.65rem;
}

#langs-dropdown-menu {
  left: 1.5rem;
  position: relative;
  top: 1rem;
}

#langs-dropdown-menu #lang-list {
    font-size: 1rem;
    line-height: 2rem;
    overflow-x: hidden;
    height: 20rem;
    position: absolute;
    overflow-y: scroll;
    right: 1rem;
    scrollbar-width: thin;
    border: solid;
    border-radius: 25%;
    border-width: 0 0 0 0.25rem;
    transition: height;
    padding-left: 3rem;
}

#langs-dropdown-menu .lang-link:hover {
    color: var(--foreground-color);
}

#lang-list {
  background-color: var(--background-color);
}

#site-nav ul > li > button {
    background: inherit;
    border: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: inherit;
    margin: inherit;
    list-style-type: inherit;
    line-height: inherit;
    height: inherit;
}
