.page-foot {
  font-size: 0.7em;
  line-height: 1.25em;
  float: right;
  text-align: left;
}
.franklin-content {
  padding: 0 0 2rem 0;
  z-index: 0;
}

#tag_title {
  font-variant: small-caps;
}

#tag_title .wrap {
  text-align: left;
}

#tag_title > .wrap > * {
  display: inline-block;
  text-align: left;
}
