/* @import "colors.css"; */

body.light {
  --accent: #3152ff;
  --accent2: #5a61ae;
  --accent3: #651b00;
  --alt: #ae6600;
  --alt2: #9e6c47;
  --alt3: #7f4200;
  --background-color: #ffebee;
  --foreground-color: #1c0005;
  --block-background: #423833;
}

@media (prefers-color-scheme: light) {
  body {
    --accent: #3152ff;
    --accent2: #5a61ae;
    --accent3: #651b00;
    --alt: #ae6600;
    --alt2: #9e6c47;
    --alt3: #7f4200;
    --background-color: #ffebee;
    --foreground-color: #1c0005;
    --block-background: #423833;
  }
}

body.dark {
  --accent: #72e200;
  --accent2: #add3a0;
  --accent3: #7a9eff;
  --alt: #8abeff;
  --alt2: #836bd1;
  --alt3: #a090de;
  --background-color: #001d49;
  --foreground-color: #dae2ff;
  --block-background: #011627;
}

@media (prefers-color-scheme: dark) {
  body {
    --accent: #72e200;
    --accent2: #add3a0;
    --accent3: #7a9eff;
    --alt: #8abeff;
    --alt2: #836bd1;
    --alt3: #a090de;
    --background-color: #001d49;
    --foreground-color: #dae2ff;
    --block-background: #011627;
  }
}

body {
  background: var(--background-color);
  font-style: var(--accent);
  font-family: Helvetica;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  line-height: 2rem;
  color: var(--accent3);
  max-width: 1280px;
  min-height: 720px;
  margin: auto;
}
a {
  color: var(--accent);
}
a:visited {
  color: var(--accent2);
}
.author__place .author__bio {
  display: none;
}
.author__place:hover {
  z-index: 1;
}
.author__place:hover .author__bio {
  filter: blur(0);
  width: 10rem;
  padding: 0.5rem;
  opacity: 0.9;
  line-height: 1.1rem;
  right: 0rem;
}
div.masthead .author__place:hover .author__bio {
  height: 9rem;
}
footer .author__place:hover .author__bio {
  height: 6.5rem;
}
footer .author__urls.social-icons {
  font-size: 1rem;
}
div.masthead .author__place > .author__bio {
  top: 3rem;
  right: 0;
  pointer-events: none;
}

footer .author__place > .author__bio {
  bottom: 3rem;
  right: 0;
  pointer-events: none;
}
.author__place > .author__bio {
  display: block;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  line-height: 0;
  text-align: justify;
  border: solid var(--accent3);
  border-radius: 10px;
  color: var(--alt3);
  filter: blur(1rem);
  transition: ease-in filter 0.33s, opacity 0.33s, width 0.33s, height 0.33s;
  background-color: var(--background-color);
  position: absolute;
  z-index: -1;
}

.franklin-content blockquote {
  border-left-color: var(--accent);
}
.franklin-content {
  color: var(--foreground-color);
}
.franklin-content #title a,
.franklin-content .header-anchor {
  padding: 0.5rem;
  line-height: 100%;
}
.franklin-content a {
  outline-style: outset;
  outline-width: 1px;
  padding: 0 0.1rem;
  margin: 0 0.1rem;
  outline-color: var(--alt2);
  /* margin-left: 0.2rem; */
  /* margin-right: 0.2rem; */
  /* padding-left: 0.2rem; */
  /* padding-right: 0.2rem; */
}
.franklin-content img {
  width: auto;
  text-align: center;
  padding: 0;
}
body > div > h1 {
  text-align: center;
  color: var(--accent2);
}
body > div #title,
body > div #page-description {
  text-align: center;
}
.page__footer {
  margin-top: 1rem;
  padding-top: 1rem;
}

.franklin-content .intro {
  font-size: 1.2rem;
  text-align: center;
}
.franklin-content .intro ul {
  list-style-type: none;
}
.franklin-content .intro a {
  font-variant: small-caps;
  padding-top: 0.2rem;
  font-size: 1.4rem;
  font-style: normal;
}

.franklin-content .intro .icon {
  padding: 0 0.2rem;
  font-size: 1rem;
}

.franklin-content h3 {
  font-size: 0.9rem;
}
