.page-foot {
  font-size: 0.7em;
  line-height: 1.25em;
  text-align: right;
  display: inline-block;
  width: 100%;
}
.franklin-content {
  padding: 0 0 2rem 0;
  z-index: 0;
}

.franklin-content, .tag-content {
  padding-top: 1rem;
}

.author__bio li {
  list-style: none;
}

.author__bio li p {
  margin: 0;
  padding: 0;
}

#tag-name {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  font-variant: small-caps;
}

#tag_title {
  font-variant: small-caps;
}

#tag_title .wrap {
  text-align: left;
}

#tag_title > .wrap > * {
  display: inline-block;
  text-align: left;
}

#tag_cloud {
  font-weight: bold;
}

.posts_list > ul {
  list-style-type: "> ";
}
.posts_list > .title {
  font-variant: small-caps;
}
.posts_list > .title > h2 {
  font-size: 1rem;
  font-style: italic;
}
.posts_list > .title > h2,
.posts_list > .title > a > h1 {
  display: inline;
}
.posts_list > ul > li {
  line-height: 1.2rem;
  padding: 0.1rem;
}
.posts_list > ul > li > p {
  padding: 0.1rem;
  margin: 0.1rem;
}
.posts_list > .title > h2,
.posts_list > .title {
  text-align: center;
  display: block;
  margin: 1rem;
}

.page__footer-links > ul > li > a {
  padding: 0.2rem;
  margin: 0.2rem;
}

#tag_cloud > a {
  padding: 0.2rem;
  font-variant: small-caps;
  vertical-align: middle;
  margin: 0.3rem;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 0 5rem white;
}

#tag_cloud .icon {
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

#tag_cloud_wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#post-tags-list {
  font-variant: small-caps;
  font-weight: bold;
}

.media {
  font-size: 1.5rem;
  line-height: 2rem;
}

#library .book-author {
    color: var(--accent2);
    font-size: 0.9rem;
    display: inline;
}
