<!doctype html>
<html lang="en" prefix="{{opg_prefix}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{canonical_link}}
        {{rss_link}}
        {{amp_link}}
        {{opg_franklin}}
        {{ldj_website}}
        {{ldj_webpage}}
        {{ldj_crumbs post_crumbs FranklinContent}}
        {{ldj_library}}
        {{if hasmath}} {{insert head_katex.html }}     {{end}}
        {{if hascode}} {{insert head_highlight.html }}   {{end}}
        {{insert style.html}}
        <title>{{fill title}}</title>
        <meta name="description" content="{{page_desc}}"/>
        <!-- {{insert lunr_include.html}} -->
        <script src="/libs/load.js"></script>
        <!-- end custom head snippets -->
    </head>
    {{insert body_layout.html}}

    <!-- Content appended here -->
