<!doctype html>
<html lang="en">
    <head>
        {{canonical_link}}
        <meta charset="UTF-8">
        {{ldj_website}}
        {{ldj_webpage}}
        {{ldj_crumbs post_crumbs}}
        {{ldj_library}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{if hasmath}} {{insert head_katex.html }}     {{end}}
        {{if hascode}} {{insert head_highlight.html }}   {{end}}
        {{insert style.html}}
        <title>{{fill title}}</title>
        {{insert lunr_head.html}}
        <script src="/libs/load.js"></script>
        <!-- end custom head snippets -->
    </head>
    {{insert body_layout.html}}

    <!-- Content appended here -->
